/******************************************************************************
GENERAL
******************************************************************************/
html {
  height: 100%;
}

body {
  height: 100%;
}

.container {
  height: 100%;
  font-family: 'Playfair Display', serif;
  color: black;
}

.label-green {
  background-color: rgb(183, 206, 169);
}

/******************************************************************************
BANNER
******************************************************************************/
.banner {
  height: 100%;
  display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("../images/canyon.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  color: white;
}

.banner h1 {
  font-weight: bold;
  font-size: 4.5em;
  margin-bottom: .25em;
}

.banner h2 {
  font-style: italic;
  font-size: 1.5em;
  /*color: white;*/
}

/******************************************************************************
PROCESS
******************************************************************************/
.services-container {
  padding: 30px;
  background-color: lightgray;
}

.services {
  border: 2px solid black;
}

.service {

}

.service h1 {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin: 15px 0;
}

.service p {
  margin-bottom: 15px;
}

/******************************************************************************
WORKS
******************************************************************************/
.works-container {
  padding: 30px 15px 18px 15px;
  background-color: rgb(220, 220, 220);
}

.works {

}

.work {
  margin-bottom: 30px;
  padding: 15px;
  background-color: white;
}

.work img {
  width: 100%;
}

.work h1 {
  font-size: 1.5em;
  text-align: center;
}

.card {
  border-radius: 0;
}

.card-img-top {
  width: 100%;
  border-radius: 0;
}

.card-block {
  padding: 15px;
}

/******************************************************************************
FOOTER
******************************************************************************/
.contact-form {
  padding: 30px 15px 30px 15px;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-color: lightgray;
}

.form-control, .btn {
  border-radius: 0;
  padding: 6px 15px;
}

textarea {
  resize: none;
  height: 200px;
}

.submit-container {
  text-align: center;
}

.footer-links {
  margin: 30px 0 0 0;
  padding: 0;
  text-align: center;
}

.footer-links li {
  display: inline-block;
  list-style: none;
  margin: 0 5px;
}

.footer-links li a {
  font-weight: bold;
}

.copyright {
  display: block;
  text-align: center;
}
