#jumbotron-custom {
  background-attachment: fixed;
  background-image: url("../images/palm-trees-8.jpg");
  background-position: bottom;
  /* background-repeat: repeat; */
  background-size: cover;
  color: white;
  margin: 0;
  text-align: center;
}

#jumbotron-custom img {
  width: 100px;
}

#navbar-custom {
  background-color: rgba(255, 255, 255, 0.95);
  margin-bottom: 40px;
}

#navbar-brand-custom > img {
  width: 30px;
}

#lets-work-together > a {
  color: rgb(225, 150, 150);
  /* color: rgb(150, 225, 225); */
  /* color: rgb(150, 225, 150); */
  /* color: rgb(235, 0, 90); */
  /* color: rgb(240, 100, 40); */
  font-weight: bold;
}

#lets-work-together > a:hover {
  /* color: rgb(130, 205, 205); */
  /* color: rgb(225, 150, 150); */
}

section {
  margin-bottom: 40px;
}

.section-heading {
  /* color: rgb(150, 225, 225); */
  /* color: rgb(225, 150, 150); */
  text-decoration: underline;
  text-decoration-color: rgb(150, 225, 225);
}

.section-sub-heading {
  /* color: rgb(150, 225, 225); */
  /* color: rgb(225, 150, 150); */
  text-decoration: underline;
  text-decoration-color: rgb(225, 150, 150);
}

footer {
  margin-bottom: 20px;
}

.link-no-style {
  color: inherit !important;
  text-decoration: none !important;
  :hover {
    color: inherit !important;
    text-decoration: none !important;
  }
}
